/* nyr brand colour: #001E62 */

* {
    margin: 0;
    padding: 0;
}

.page-width {
    max-width: 1500px;
    margin: 0 auto;
}

.header-main {
    display: flex;
    height: 7rem;;
}

.header-left {
    height: 100%;
    width: 50%;
    border: solid lightblue 2px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-logo {
    height: 6rem;
} 

.header-right {
    height: 100%;
    width: 50%;
    border: solid lightblue 2px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-icon {
    height: 1.8rem;
    margin: 0.5rem;
}

/* responsive */
@media only screen and (min-width: 769px){
.page-width {
    padding: 0 40px;
}
}