* {
    margin: 0;
    padding: 0;
}

.header-main{
    height: 7rem;
    width: 100%;
}

.header-left {
    height: 100%;
    width: 50%;
    border: solid lightblue 2px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.logo-and-brandName {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.logo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: solid #001d61 2px;
    outline-offset: -0.3rem;
    outline: #001E62 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    height: 3.55rem;
}

.brandName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem;
}

.brand-title {
    color: #001E62;
    font-size: 1.4rem;
}

.brand-desc {
    font-size: 0.9rem;
}