.product-gallery {
  margin: 8px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card > * {
  width: 80%;
  text-align: center;
  padding: 0.3rem 0;
  cursor: pointer;
}
