.product-gallery {
    margin: 20px 40px;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 8rem;
}

.product-card > img {
    border: 1px solid salmon;
    width: 100%;
}

.product-card > p {
    border: 1px solid yellow;
    width: 100%;
    text-align: center;
}

.product-card > h3 {
    border: 1px solid purple;
    width: 100%;
    text-align: center;
}